<!-- Generated template for the CheckinSchoolsListPage page. See
http://ionicframework.com/docs/components/#navigation for more info on Ionic
pages and navigation. -->
<ion-header>

    <ion-navbar color="secondary" *ngIf="isCheckedin=='0'">
        <ion-buttons end="end">
            <button ion-button="ion-button" icon-only="icon-only" (click)="addNewSchool()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
        <ion-toolbar color='primary'>
            <ion-searchbar placeholder="Search School" [showCancelButton]="true" (ionInput)="getItems($event)" (ionCancel)="initializeItems($event)"></ion-searchbar>
        </ion-toolbar>
    </ion-navbar>

    <ion-navbar color="secondary" *ngIf="isCheckedin=='1'">
        <ion-title>Check out</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding="padding" *ngIf="isCheckedin=='0'">
    <ion-card *ngFor="let school of results; let i = index" (click)="onOpenPlace(i)">
        <ion-card-content text-center="text-center">
            <ion-card-title>
                {{ school.school_name }}
            </ion-card-title>
            <p>{{ school.branch_name }}</p>
            <p>{{ school.school_address }}</p>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-content padding="padding" *ngIf="isCheckedin=='1'">
    <ion-grid class="checkout-grid">
        <ion-row text-center="text-center">

            <ion-col col-12>
                <ion-icon class="checkout" name="log-out" (click)="CheckOutPost()">
                    Check-Out
                </ion-icon>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>
