<ion-header>
    <ion-navbar color="secondary" hideBackButton>
      <ion-buttons left>
        <button ion-button icon-only (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
        <ion-title>Sample Form</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngFor="let item of results; let i = index;">
        <button ion-button full color="secondary" (click)="itemSelected(i);">{{item.publisher_name}}</button>
    </div>
</ion-content>
