<!--
  Generated template for the OrderFormDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="secondary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Order Form</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding *ngIf="isCheckedin=='1'">

    <form #f="ngForm" (ngSubmit)="onSubmit(); f.reset()">


        <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->

        <ion-list>

            <ion-list-header class="heading">
                {{school_name}}
            </ion-list-header>
            <ion-item>
                <ion-label>Order Date</ion-label>
                <ion-datetime max="2020" displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM YYYY" name=order_date [(ngModel)]="order_date"></ion-datetime>
            </ion-item>

            <div *ngFor="let publisher of subjectsClasses; let i = index;">

                <ion-list-header class="sub_heading">
                    {{publisher.publisher_name}}
                </ion-list-header>


                <ion-item-group *ngFor="let books of publisher.books; let j = index;">
                    <ion-item>
                        <ion-label>{{books.book_name}}</ion-label>
                        <ion-checkbox name="class_book_{{books.book_id}}" [(ngModel)]="books.checked"></ion-checkbox>
                    </ion-item>
                    <div *ngIf="books.checked">
                        <ion-item *ngFor=" let classes of books.classes;" class="order_item">
                            <ion-label>{{classes.class_name}}</ion-label>
                            <ion-input type="number" name="classes_qty_{{classes.class_book_id}}" [(ngModel)]="classes.qty" placeholder="Qty"></ion-input>
                        </ion-item>
                    </div>
                </ion-item-group>
            </div>

            <ion-item>
                <ion-label>Payment Date</ion-label>
                <ion-datetime max="2020" displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM YYYY" name="followup_date" [(ngModel)]="followup_date"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>To be Deliver Date</ion-label>
                <ion-datetime max="2020" displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM YYYY" name=required_date [(ngModel)]="required_date"></ion-datetime>
            </ion-item>



            <ion-item>
                <ion-label floating>Comments</ion-label>
                <ion-textarea type="text" name="comments" [(ngModel)]="comments" required></ion-textarea>
            </ion-item>

            <div>
                <button ion-button full color="secondary" type="submit" [disabled]="!f.valid">Submit Order</button>
            </div>
        </ion-list>
    </form>

</ion-content>

<ion-content padding="padding" *ngIf="isCheckedin=='0'">
    <h1 style="text-align: center;">Warning!</h1>
    <h3 style="text-align: center;">You are not checked in !</h3>
    <h3 style="text-align: center;">Please check in first </h3>
</ion-content> 
