page-order-form-detail {
    .scroll-content{
        padding-top: 6rem !important;
    }

    .ion-app.md [padding], ion-app.md [padding] .scroll-content{
        padding-top: 6rem !important;
    }
}