<!--
  Generated template for the OrderFormMpSubjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Order Form</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list inset >
    <button ion-item *ngFor="let result of results; let i=index" (click)="itemSelected(result.books[0].book_id,result.books[0].book_name)" >
      {{result.books[0].book_name}}
    </button>
  </ion-list>

</ion-content>
