<!--
  Generated template for the ContactPersonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="bar-royal" color="secondary">
    <ion-title>ContactPerson</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
