<!--
  Generated template for the Tab1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Check-in </ion-title>
  </ion-navbar>
</ion-header> -->





<ion-content padding>
    <form #checkinForm="ngForm">
        <ion-row *ngIf="!isCheckin">
            <ion-col>

                <ion-item>
                    <ion-label floating>Enter School Name</ion-label>
                    <ion-input type="text" name="School Name" required [(ngModel)]="checkIninfo.LocationName"></ion-input>
                </ion-item>
                <ion-item inset>
                    <ion-label floating>Enter School Name</ion-label>
                    <ion-input type="text" (focus)="selectSchoolName()" readonly [(ngModel)]="checkIninfo.LocationName" name="schoool_name" #gotram="ngModel" required></ion-input>
                </ion-item>


                <!--<ion-item>
                    <ion-label>Location: {{locationTracker.lat}},{{locationTracker.lng}}</ion-label>
                </ion-item> -->

                <ion-item>
                    <ion-label>Purpose of visit</ion-label>

                    <ion-select name="Purpose" [(ngModel)]="checkIninfo.Purpose">
                        <ion-option value="pick up payment">Pick up payment</ion-option>
                        <ion-option value="drop sample">Drop sample</ion-option>
                        <ion-option value="pick up sample">Pick up sample</ion-option>
                        <ion-option value="follow up">Follow up</ion-option>
                        <ion-option value="deliver order">Deliver order</ion-option>
                        <ion-option value="other">Other</ion-option>
                    </ion-select>
                </ion-item>

                <br/>
                <button ion-button round full primary type="button" [disabled]="!checkinForm.valid" (click)="CheckInPost()">Check-In</button>
                <br/>
                <!--  <button ion-button round full primary type="button" color="danger" (click)="logout()">Log-Out</button> -->



            </ion-col>
        </ion-row>

        <ion-row *ngIf="isCheckin">
            <ion-col>
                <button ion-button round full primary type="button" (click)="CheckOutPost()">Check-Out</button>
            </ion-col>
        </ion-row>
    </form>

    <!-- <button ion-button round full primary type="button" (click)="Qform()">Questionaire Form testing</button> <br/> -->
    <!-- <button ion-button round full primary type="button" (click)="Fform()">Feedback Form testing</button> -->
    <!-- <div #map id="map"></div> -->
</ion-content>
