<!--
  Generated template for the FormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Questionnaire Form</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="isCheckedin=='1'">
  <form #f="ngForm" (ngSubmit)="onSubmit(); f.reset()">

    <ion-list-header class="heading">
      {{school_name}}
    </ion-list-header>


    <ion-list>
      <ion-item>
        <ion-label floating>School Address</ion-label>
        <ion-input type="text" name="School Address" required [(ngModel)]="userQues.school_address"></ion-input>
      </ion-item>

      <div *ngFor="let contact of userQues.contact; let i = index">
        <ion-item>
          <ion-label>Contact Person #{{i+1}}</ion-label>
          <ion-checkbox name="contact.checked{{i}}" [(ngModel)]="contact.checked"></ion-checkbox>
        </ion-item>

        <ion-item-group *ngIf="contact.checked">

          <ion-item>
            <ion-label floating>Designation
              <span color="danger">*</span>
            </ion-label>
            <ion-input type="text" name="contact.designation{{i}}" required [(ngModel)]="contact.designation"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Person Name
              <span color="danger">*</span>
            </ion-label>
            <ion-input type="text" name="contact.name{{i}}" required [(ngModel)]="contact.name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Phone/Cell #
              <span color="danger">*</span>
            </ion-label>
            <ion-input type="text" name="contact.phone{{i}}" required [(ngModel)]="contact.phone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>E-Mail Address</ion-label>
            <ion-input type="email" name="contact.email{{i}}" [(ngModel)]="contact.email"></ion-input>
          </ion-item>
        </ion-item-group>
      </div>



      <ion-item>
        <ion-label floating>Strength</ion-label>
        <ion-input type="text" name="School Strength" required [(ngModel)]="userQues.school_strength"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Session</ion-label>
        <ion-input type="text" name="School Session" required [(ngModel)]="userQues.school_session"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Branches</ion-label>
        <ion-input type="text" name="School Branches" required [(ngModel)]="userQues.school_branches"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Potential customer</ion-label>
        <ion-toggle checked="false" name="potential_customer" [(ngModel)]="userQues.potential_customer"></ion-toggle>
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-list-header>

      </ion-list-header>
      <ion-item-divider color="secondary">Subjects By Publishers</ion-item-divider>


      <ion-list *ngFor="let item of userQues.subjects; let i = index">


        <ion-item-divider color="dark">{{item.subject_name}}</ion-item-divider>
        <ion-item>
          <ion-label floating>Classes</ion-label>
          <ion-input type="text" name="Classes{{i}}" [(ngModel)]="item.classes"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Discount</ion-label>
          <ion-input type="text" name="Discount{{i}}" [(ngModel)]="item.discount"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Publisher</ion-label>
          <ion-input type="text" name="Publisher{{i}}" [(ngModel)]="item.publisher"></ion-input>
        </ion-item>

      </ion-list>

      <ion-item>
        <ion-label floating>Follow Up Date</ion-label>
        <ion-datetime max="2020" displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM YYYY" name="follow-up-date" required [(ngModel)]="followup_date"></ion-datetime>
      </ion-item>


    </ion-list>
    <div>
      <button ion-button full color="secondary" type="submit" [disabled]="!f.valid">Submit Questionaire</button>
    </div>

  </form>
</ion-content>

<ion-content padding="padding" *ngIf="isCheckedin=='0'">
  <h1 style="text-align: center;">Warning!</h1>
  <h3 style="text-align: center;">You are not checked in !</h3>
  <h3 style="text-align: center;">Please check in first </h3>
</ion-content> 
