<ion-header>
    <ion-navbar class="bar-royal" color="secondary">
        <ion-title>{{ place.school_name }}</ion-title>
    </ion-navbar>

</ion-header>
<ion-content padding>
    <!--  (ngSubmit)="onSubmit(f)" -->
    <form #f="ngForm">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <p>{{ place.school_branch_name }}</p>
                   <!-- <p>{{ place.school_address }}</p>-->
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Purpose of visit</ion-label>
                        <ion-select name="purpose" [(ngModel)]="place.purpose" required>
                            <ion-option value="pick up payment">Pick up payment</ion-option>
                            <ion-option value="pre sample visit">Pre sample visit</ion-option>
                            <ion-option value="drop sample">Drop sample</ion-option>
                            <ion-option value="pick up sample">Pick up sample</ion-option>
                            <ion-option value="follow up">Follow up</ion-option>
                            <ion-option value="deliver order">Deliver order</ion-option>
                            <ion-option value="other">Other</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="place.purpose=='other'">
                <ion-col>
                    <ion-item>
                        <ion-label floating>Other</ion-label>
                        <ion-input type="text" name="other" required [(ngModel)]="other"></ion-input>
                    </ion-item>

                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <agm-map [latitude]="convertStringToNumber(place.lat)" [longitude]="convertStringToNumber(place.lng)" [zoom]="16">
                        <agm-marker [latitude]="convertStringToNumber(place.lat)" [longitude]="convertStringToNumber(place.lng)"></agm-marker>
                    </agm-map>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <button ion-button color="secondary" block type="button" (click)="onSubmit()" [disabled]="!f.valid || !onSamePlace">
                        Checkin Now
                    </button>
                </ion-col>
                <ion-col col-6>
                    <button ion-button block (click)="onLeave()" color="light">Leave</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
