<!--
  Generated template for the SampleformHistoryDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="bar-royal" color="secondary" hideBackButton>
    <ion-title>Sample Form Detail</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
   <!-- <ion-buttons end="end">
        <button ion-button="ion-button" icon-only="icon-only" (click)="editSampleForm(results.id)">
            <ion-icon name="create"></ion-icon>
        </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>



<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-4><h4 style="color:#1aac90;">School Name:</h4></ion-col>
      <ion-col col-8><h4 style="color:#1aac90;">{{results.school_name}}</h4></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>Branch Name:</ion-col>
      <ion-col col-8>{{results.branch_name}}</ion-col>
    </ion-row>

    <!--<ion-row>
      <ion-col col-4>Address:</ion-col>
      <ion-col col-8>{{results.school_address}}</ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col col-4>Order Date:</ion-col>
      <ion-col col-8>{{results.feedback_date}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>Follow Up Date:</ion-col>
      <ion-col col-8>{{results.followup_date}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>Status:</ion-col>
      <ion-col col-8>{{results.status}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>Comments:</ion-col>
      <ion-col col-8>{{results.comments}}</ion-col>
    </ion-row>
    <ion-item-divider color="dark">
      <ion-row color="dark">
      <ion-col col-3>
          <strong>Class</strong>
        </ion-col>

        <ion-col col-3>
          <strong>Asked</strong>
        </ion-col>
        <ion-col col-3>
          <strong>Droped</strong>
        </ion-col>
        <ion-col col-3>
          <strong>Picked</strong>
        </ion-col>
      </ion-row>
    </ion-item-divider>

    <ion-row *ngFor="let item of results.details; let i=index;">
      <ion-col col-12>
        <ion-item-divider class="sub_heading">{{item.book_name}}</ion-item-divider>
        <ion-row *ngFor="let class of item.class_name; let k = index">
          <ion-col col-6>
            {{item.class_name[k]}}
          </ion-col>

          <ion-col col-2>
            <span *ngIf="item.sample_asked[k]=='1'">Yes</span>
            <span *ngIf="item.sample_asked[k]=='0'">No</span>
          </ion-col>
          <ion-col col-2>
              <span *ngIf="item.sample_droped[k]=='1'">Yes</span>
              <span *ngIf="item.sample_droped[k]=='0'">No</span>
            </ion-col>
          <ion-col col-2>
              <span *ngIf="item.sample_picked[k]=='1'">Yes</span>
              <span *ngIf="item.sample_picked[k]=='0'">No</span>
            </ion-col>

        </ion-row>

      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>

<!--
<ion-content padding>

  <ion-card>
    <ion-card-content>
      <ion-label>Sample ID: {{results.order_id}}</ion-label>
      <ion-label>Sample Date: {{results.feedback_date}}</ion-label>
      <ion-label>Follow Up Date: {{results.followup_date}}</ion-label>
      <ion-label>School Name: {{results.school_name}}</ion-label>
      <ion-label>Subject Name: {{results.book_name}}</ion-label>
      <ion-label>Publications: {{results.publisher_name}}</ion-label>
      <ion-label>
        <strong>Class Names:</strong>
      </ion-label>
      <ion-label *ngFor="let class of classes">{{class}}</ion-label>
      <ion-label>Sample Asked:
        <span [hidden]="!results.sample_asked">Yes</span>
        <span [hidden]="results.sample_asked">No</span>
      </ion-label>
      <ion-label>Sample Droped:
        <span [hidden]="!results.sample_droped">Yes</span>
        <span [hidden]="results.sample_droped">No</span>
      </ion-label>
      <ion-label>Sample Picked:
        <span [hidden]="!results.sample_picked">Yes</span>
        <span [hidden]="results.sample_picked">No</span>
      </ion-label>

      <ion-label>Comments: {{results.comments}}</ion-label>
    </ion-card-content>

  </ion-card>


</ion-content> -->
