<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Sadiq EMS</ion-title>
    </ion-navbar>
</ion-header>



<ion-content padding>
    <!-- <h3>Ionic Menu Starter</h3>

    <p>
        If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
    </p>

    <button ion-button secondary menuToggle>Toggle Menu</button> -->

    <ion-tabs color="secondary">
        <ion-tab [root]="tab1Root" tabIcon="map" tabTitle="All"></ion-tab>
        <ion-tab [root]="tab2Root" tabIcon="man" tabTitle="Check In" ></ion-tab>
        <ion-tab [root]="TomorrowPlan" tabIcon="planet" tabTitle="Schedule"></ion-tab>
        <ion-tab [root]="tab3Root" tabIcon="notifications" tabTitle="Notifications"></ion-tab>
    </ion-tabs>
</ion-content>
