<!--
  Generated template for the HistoryFilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="bar-royal" color="secondary">
    <ion-title>Filter Records</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form #f="ngForm">
    <ion-list radio-group name="filter" [(ngModel)]="filter">
      <ion-list-header>
        Quick Filter
      </ion-list-header>
      <ion-item>
        <ion-label>All</ion-label>
        <ion-radio value="All"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Today</ion-label>
        <ion-radio value="Today"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Yesterday</ion-label>
        <ion-radio value="Yesterday"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>This Week</ion-label>
        <ion-radio value="This Week"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Last Week</ion-label>
        <ion-radio value="Last Week"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>This Month</ion-label>
        <ion-radio value="This Month"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Last Month</ion-label>
        <ion-radio value="Last Month"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>This Year</ion-label>
        <ion-radio value="This Year"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Custom Date</ion-label>
        <ion-radio value="Custom Date"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="filter=='Custom Date'">
      <ion-list-header>
        Date Range
      </ion-list-header>
      <ion-item>
        <ion-label floating>Date From</ion-label>
        <ion-datetime max="2020" displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM YYYY" name="date_from" [(ngModel)]="date_from"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label floating>Date To</ion-label>
        <ion-datetime max="2020" displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM YYYY" name="date_to" [(ngModel)]="date_to"></ion-datetime>
      </ion-item>

    </ion-list>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button color="secondary" block type="button" (click)="onSubmit()" [disabled]="!f.valid">
              Filter
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-button block (click)="onLeave()" color="light">Cancel</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </form>
</ion-content>
