<!-- Generated template for the CheckinSchoolsListPage page. See
http://ionicframework.com/docs/components/#navigation for more info on Ionic
pages and navigation. -->
<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Check out</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding="padding">
  <ion-grid>
    <ion-row>

      <ion-col col12>
        <button ion-button color="secondary" (click)="CheckOutPost()" round>Checkout
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-col>

    </ion-row>


    <ion-row>

      <ion-col col12>
        <button ion-button color="secondary" (click)="cancel()" round>Cancel
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
