<!--
  Generated template for the TomorrowPlanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="bar-royal" color="secondary">
    <ion-title>Plan For Tomorrow</ion-title>
    <ion-buttons end="end">
      <button ion-button="ion-button" icon-only="icon-only" (click)="addNewPlan()">
          <ion-icon name="add"></ion-icon>
      </button>
  </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card *ngFor="let plan of results; let i=index;">

        <ion-card-header>
         <h2 class="task-center"> {{plan.school_name}} </h2>
        </ion-card-header>

        <ion-card-content>
          <label><strong> {{plan.description}} </strong></label><br/>
          <label><strong>Date </strong>: {{plan.todo_date}} </label><br/>
          <label><strong>Area </strong>: {{plan.location}} </label><br/>
          <label><strong>Status </strong>: {{plan.task_status}} </label><br/>

        </ion-card-content>

    </ion-card>
</ion-content>
