<ion-header>
  <ion-navbar class="bar-royal" color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<h2>Select Your Desired History</h2>

<div>
<ion-item>
  <button ion-button full color="secondary" (click)="show_checked_in_history();">Checked In History</button>
</ion-item>

<ion-item>
  <button ion-button full color="secondary" (click)="show_sample_form_order_list();">Sample Forms</button>
</ion-item>

<ion-item>
  <button ion-button full color="secondary" (click)="show_order_form_list();">Order Forms</button>
</ion-item>

<ion-item>
  <button ion-button full color="secondary" (click)="show_questionnaire_form_list();">Questionnaire Forms</button>
</ion-item>
</div>

</ion-content>
