<!--
  Generated template for the OrderformHistoryDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="bar-royal" color="secondary">
    <ion-title>Order Form Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-4><h4 style="color:#1aac90;">School Name:</h4></ion-col>
      <ion-col col-8><h4 style="color:#1aac90;">{{results.school_name}}</h4></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>Branch Name:</ion-col>
      <ion-col col-8>{{results.branch_name}}</ion-col>
    </ion-row>

  <!--  <ion-row>
      <ion-col col-4>Address:</ion-col>
      <ion-col col-8>{{results.school_address}}</ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col col-4>Order Date:</ion-col>
      <ion-col col-8>{{results.order_date}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>To be Deliver:</ion-col>
      <ion-col col-8>{{results.required_date}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>Delivered Date:</ion-col>
      <ion-col col-8>{{results.delivered_date}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>Payment Date:</ion-col>
      <ion-col col-8>{{results.followup_date}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>Status:</ion-col>
      <ion-col col-8>{{results.status}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>Comments:</ion-col>
      <ion-col col-8>{{results.comments}}</ion-col>
    </ion-row>
    <ion-item-divider color="dark">
      <ion-row color="dark">
        <ion-col col-8>
          <strong>Class</strong>
        </ion-col>
        <ion-col col-4>
          <strong>Qty</strong>
        </ion-col>
      </ion-row>
    </ion-item-divider>

    <ion-row *ngFor="let item of results.details; let i=index;">
      <ion-col col-12>

        <ion-item-divider class="sub_heading">{{item.book_name}}</ion-item-divider>


        <ion-row *ngFor="let class of item.class_name; let k = index">
          <ion-col col-8>{{item.class_name[k]}}</ion-col>
          <ion-col col-4>{{item.qty_orderd[k]}}</ion-col>
        </ion-row>

      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
