<ion-header>
    <ion-navbar class="bar-royal" color="secondary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

      <ion-title>History
       <!-- <ion-note>[ {{filter}} ]</ion-note> -->
      </ion-title>

     <!-- <ion-buttons right>
        <button ion-button icon-only (click)="onFilter()">
          <ion-icon name="ios-color-filter"></ion-icon>
        </button>
      </ion-buttons> -->

    </ion-navbar>
</ion-header>

<ion-content>

  <!-- Previous Original Code
  <h3 style="color : #1AAC90;text-align: center;">Select Your Desired History</h3>

  <ion-item>
    <button ion-button block color="secondary" (click)="show_checked_in_history()" >Checked In History</button>
  </ion-item>

  <ion-item>
    <button ion-button block color="secondary" (click)="show_sample_form_order_list();">Sample Forms</button>
  </ion-item>

  <ion-item>
    <button ion-button block  color="secondary" (click)="show_order_form_list();">Order Forms</button>
  </ion-item>

  <ion-item>
    <button ion-button block  color="secondary" (click)="show_questionnaire_form_list();">Questionnaire Forms</button>
  </ion-item> -->

  <!-- New version with schools list -->
  <div style="text-align: center;">
    <h2>Schools List</h2>
  </div>

  <ion-grid>
    <ion-row class="sub_heading">
      <ion-col col-2>
        <strong>#</strong>
      </ion-col>
     <!-- <ion-col col-4>Date</ion-col>-->
      <ion-col col-6>School Name</ion-col>
    </ion-row>

    <ion-item text-wrap>
      <ion-row *ngFor="let item of results; let i = index;" (click)="itemSelected(i);">
        <ion-col col-2>{{i+1}}</ion-col>
        <!--<ion-col col-3>{{item.created_at}}</ion-col> -->
        <ion-col col-6>{{item.school_name}}</ion-col>
       <!-- <ion-col col-1>
          <ion-icon *ngIf="item.status=='checkout'" item-end name="checkmark-circle"></ion-icon>
          <ion-icon *ngIf="item.status=='checkin'" item-end name="radio-button-off"></ion-icon>
        </ion-col> -->


      </ion-row>
    </ion-item>
  </ion-grid>



</ion-content>
