<ion-menu id="myMenu" [content]="content">
    <ion-header>
        <ion-toolbar color="secondary">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content sidemenu="sidemenu-glass-avatar">
        <ion-card text-center class="hide-card">
            <div profile="profile-large-transaprant"><img src="assets/images/icon.png" class="custom-avatar" /> </div>
            <!-- <h2>{{user_info.first_name}} {{user_info.last_name}}</h2>
            <p>Marketing Manager</p>
            <hr>-->
        </ion-card>

        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" ion-android-add end>
                    <ion-icon color="secondary" item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
