// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.hide-card {
    -webkit-box-shadow: none!important;
}

h1,h2 {
    color: color($colors, secondary, base);
    text-align: center;
}

.task-center {
    text-align: center;
    color: color($colors, secondary, base);
}

.h1-center {
    text-align: center;
    color: color($colors, secondary, base);
}

//ion-side-menu.menu-left.menu {
.custom-avatar {
    height: 30vw;
    width: auto;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

input.text-input.text-input-md {
    color: #000;
}

.highlight {
    background: color($colors, primary, base);
}


.order_item .text-input {
    text-align: right;
    color: color($colors, dark, base);
}

.heading {
    font-size: 20px;
    background: color($colors, primary, base);
    color: color($colors, light, base);
}

.sub_heading {
    font-size: 16px;
    background: color($colors, light, base);
}

.checkout {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 100px 0;
    border-radius: 50%;
    background: color($colors, primary, base);
    color: color($colors, light, base);
    text-align: center;
    border: 1px solid color($colors, secondary, base);
}

.login-content {
    background: color($colors, secondary, base);
    .logo-row {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    ion-row {
        align-items: center;
        text-align: center;
    }
    ion-item {
        background: color($colors, secondary, base);
    }
    input.text-input.text-input-md {
        color: color($colors, light, base);
    }
}

ion-menu {
    background-color: color($colors, secondary, base);
}

ion-list-header {
    text-align: center;
    font-weight: bold;
}

ion-title ion-note{font-size: 12px; color: color($colors, danger);}
.school_auto_complete{
  width: 100%;
  height: 50px;
  border: 1px solid;
}


.seprator{
  background: rgb(175, 174, 174);
  color:#fff;
  border: think solid gray;
}
