<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Choose Location</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
          <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="school_auto_complete"
            #search [formControl]="searchControl" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <agm-map [latitude]="location.lat" [longitude]="location.lng" [zoom]="16" (mapClick)="onSetMarker($event)">
          <agm-marker [latitude]="marker.lat" [longitude]="marker.lng" *ngIf="marker"></agm-marker>
        </agm-map>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-note>Click on map to change location.</ion-note>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-button block color="primary" (click)="onConfirm()" [disabled]="!marker">Confirm</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block color="light" (click)="onAbort()">Abort</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
