<ion-content class="login-content" padding>
    <ion-row class="logo-row">
        <ion-col></ion-col>
        <ion-col width-67>
            <img src="assets/images/logo-250.png" />
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <div class="login-box">
        <form (ngSubmit)="login()" #loginForm="ngForm">
            <ion-row>
                <ion-col>
                    <ion-list inset>

                        <ion-item>
                            <ion-label floating style="color:white;">Enter Username or E-mail</ion-label>
                            <ion-input type="text" name="email" [(ngModel)]="user.email" required></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label floating style="color:white;">Enter Password</ion-label>
                            <ion-input class="my-text-input-color" type="password" name="password" [(ngModel)]="user.password" required></ion-input>
                        </ion-item>

                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="signup-col">
                    <button ion-button round full type="submit" [disabled]="!loginForm.valid">Login</button>

                </ion-col>
            </ion-row>

        </form>
    </div>
</ion-content>