<!--
  Generated template for the CheckedInHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="bar-royal" color="secondary">
   <!-- <ion-buttons left>
      <button ion-button icon-only (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>Checkedin
    <!--  <ion-note>[ {{filter}} ]</ion-note> -->
    </ion-title>
    <!--<ion-buttons right>
      <button ion-button icon-only (click)="onFilter()">
        <ion-icon name="ios-color-filter"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>


</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row class="sub_heading">
      <ion-col col-2>
        <strong>#</strong>
      </ion-col>
      <ion-col col-4>Date</ion-col>
     <!-- <ion-col col-6>School Name</ion-col>-->
    </ion-row>

    <ion-item text-wrap>
     <ion-row *ngFor="let item of results; let i = index;" (click)="itemSelected(i);">
        <ion-col col-2>{{i+1}}</ion-col>
        <ion-col col-3>{{item.checkin_datetime}}</ion-col>
        <!--<ion-col col-6>{{item.school_name}}</ion-col>-->
      <!--  <ion-col col-1>
          <ion-icon *ngIf="item.status=='checkout'" item-end name="checkmark-circle"></ion-icon>
          <ion-icon *ngIf="item.status=='checkin'" item-end name="radio-button-off"></ion-icon>
        </ion-col>-->


      </ion-row>
    </ion-item>
  </ion-grid>


  <!-- <h2 style="color: #0EAD9C;text-align: center;">Schools List</h2><br/>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
   <ion-list >
     <button ion-item *ngFor="let item of results" >
       {{ item.school_name }}
     </button>
   </ion-list> -->

</ion-content>
