<!--
  Generated template for the Tab3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
    <ion-card *ngFor="let category of results; let i=index;">

        <ion-card-header>
         <h2 class="task-center"> {{category.category_name}} </h2>
        </ion-card-header>

        <ion-card-content *ngFor="let task of category.tasks">
          <label><strong>School Name </strong>: {{task.location}} </label><br/>
          <label><strong>Date </strong>: {{task.todo_date}} </label><br/>
          <label><strong> {{task.description}} </strong></label><br/>
          <label><strong>Status </strong>: {{task.task_status}} </label><br/>
          <label><strong>Priority </strong>: {{task.priority}} </label>

        </ion-card-content>

    </ion-card>
</ion-content>
