<!--
  Generated template for the CheckedinSchoolsModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
        <ion-title>
            {{data.tile}}
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-searchbar showCancelButton="true" (ionInput)="getItems($event)" (ionCancel)="clearItems()"></ion-searchbar>
    <ion-list radio-group [(ngModel)]="selected_item">
        <ion-item *ngFor="let item of data" (click)="selectedItem(item)">

            <h2>Museum of Football</h2>
            <p>11 N. Way St, Madison, WI 53703 this is also very long </p>
            <ion-content>very long address of school School Address is Mukhan Pura lahore</ion-content>
        </ion-item>
        <ion-item *ngIf="data?.length == 0">
            <h2>no matched items</h2>
        </ion-item>
    </ion-list>

</ion-content>