<!--
  Generated template for the SampleFormPubChoicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="bar-royal" color="secondary">
    <ion-title>sampleFormPubChoice</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div >
    <button ion-button full color="secondary" (click)="sadiqPubSub();">Sadiq Publications</button>
  </div>

  <br/>
  <div>
    <button ion-button full color="secondary" (click)="mumtazPubSub();">Al-Mumtaz Publishers</button>
  </div>

</ion-content>
