<!--
  Generated template for the SampleformHistoryDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="bar-royal" color="secondary" hideBackButton>
    <ion-title>Edit Sample Form ID: {{results.id}}</ion-title>
    <!-- <ion-buttons left>
        <button ion-button icon-only (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end="end">
          <button ion-button="ion-button" icon-only="icon-only" (click)="editSampleForm(results.id)">
              <ion-icon name="create"></ion-icon>
          </button>
      </ion-buttons> -->
  </ion-navbar>

</ion-header>



<ion-content padding="padding">
  <form #f="ngForm">

    <ion-list-header class="heading">
      {{school_name}}
    </ion-list-header>

    <ion-row *ngFor="let item of results.details; let i=index;">
      <ion-col col-12>
        <ion-item-divider class="sub_heading">{{item.book_name}}</ion-item-divider>

        <ion-row *ngFor="let class of item.class_name; let k = index">
          <ion-col col-6>
            {{item.class_name[k]}}
          </ion-col>

          <ion-col col-2>
            {{item.sample_asked[k]}}
              <ion-checkbox *ngIf="item.sample_asked[k];" name="a" [(ngModel)]="item.sample_asked[k]"></ion-checkbox>
              <ion-checkbox *ngIf="!item.sample_asked[k];" name="b" [(ngModel)]="item.sample_asked[k]"></ion-checkbox>
          </ion-col>
          <ion-col col-2>
              {{item.sample_droped[k]}}
              <ion-checkbox *ngIf="item.sample_droped[k];" name="c" [(ngModel)]="item.sample_droped[k]"></ion-checkbox>
              <ion-checkbox *ngIf="!item.sample_droped[k];" name="d" [(ngModel)]="item.sample_droped[k]"></ion-checkbox>
            </ion-col>
          <ion-col col-2>
              {{item.sample_picked[k]}}
              <ion-checkbox *ngIf="item.sample_picked[k];" name="e" [(ngModel)]="item.sample_picked[k]"></ion-checkbox>
              <ion-checkbox *ngIf="!item.sample_picked[k];" name="f" [(ngModel)]="item.sample_picked[k]"></ion-checkbox>
            </ion-col>

        </ion-row>

      </ion-col>
    </ion-row>


    <ion-item>
      <ion-label>Follow Up Date</ion-label>
      <ion-datetime max="2020" displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM YYYY" name="followup_date" [(ngModel)]="followup_date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Comments</ion-label>
      <ion-textarea type="text" name="comments" [(ngModel)]="comments" required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select [(ngModel)]="status" name="status" interface="popover">
        <ion-option>Pending</ion-option>
        <ion-option>Completed</ion-option>
      </ion-select>
    </ion-item>


    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button color="secondary" block type="button" (click)="onSubmit()" [disabled]="!f.valid">
            Update
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block (click)="onLeave()" color="light">Cancel</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>

<!--
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col col-4>School Name:</ion-col>
        <ion-col col-8>{{results.school_name}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4>Branch Name:</ion-col>
        <ion-col col-8>{{results.branch_name}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4>Address:</ion-col>
        <ion-col col-8>{{results.school_address}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4>Order Date:</ion-col>
        <ion-col col-8>{{results.feedback_date}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4>Follow Up Date:</ion-col>
        <ion-col col-8>{{results.followup_date}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>Status:</ion-col>
        <ion-col col-8>{{results.status}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>Comments:</ion-col>
        <ion-col col-8>{{results.comments}}</ion-col>
      </ion-row>
      <ion-item-divider color="dark">
        <ion-row color="dark">
        <ion-col col-3>
            <strong>Class</strong>
          </ion-col>

          <ion-col col-3>
            <strong>Asked</strong>
          </ion-col>
          <ion-col col-3>
            <strong>Droped</strong>
          </ion-col>
          <ion-col col-3>
            <strong>Picked</strong>
          </ion-col>
        </ion-row>
      </ion-item-divider>

      <ion-row *ngFor="let item of results.details; let i=index;">
        <ion-col col-12>
          <ion-item-divider class="sub_heading">{{item.book_name}}</ion-item-divider>
          <ion-row *ngFor="let class of item.class_name; let k = index">
            <ion-col col-6>
              {{item.class_name[k]}}
            </ion-col>

            <ion-col col-2>
              <span *ngIf="item.sample_asked[k]=='1'">Yes</span>
              <span *ngIf="item.sample_asked[k]=='0'">No</span>
            </ion-col>
            <ion-col col-2>
                <span *ngIf="item.sample_droped[k]=='1'">Yes</span>
                <span *ngIf="item.sample_droped[k]=='0'">No</span>
              </ion-col>
            <ion-col col-2>
                <span *ngIf="item.sample_picked[k]=='1'">Yes</span>
                <span *ngIf="item.sample_picked[k]=='0'">No</span>
              </ion-col>

          </ion-row>

        </ion-col>
      </ion-row>
    </ion-grid>

    <form #f="ngForm" (ngSubmit)="onSubmit();">

          <ion-list-header class="heading">
            {{school_name}}
          </ion-list-header>

          <ion-list *ngFor="let publisher of subjectsClasses; let i = index;">
            <ion-list-header class="sub_heading">
              {{publisher.publisher_name}}
            </ion-list-header>
            <div *ngFor="let books of publisher.books; let j = index;">
              <ion-item *ngIf="books.classes.length > 1">
                <ion-label>{{books.book_name}}</ion-label>
                <ion-checkbox name="class_book_{{books.book_id}}" [(ngModel)]="books.checked"></ion-checkbox>
              </ion-item>
              <ion-item *ngIf="books.classes.length == 1">
                  <ion-label>{{books.book_name}}</ion-label>
                  <ion-select multiple="true" name="classes_{{books.classes[0].checked}}" [(ngModel)]="books.classes[0].checked">
                      <ion-option value='sa'>SA</ion-option>
                      <ion-option value='sd'>SD</ion-option>
                      <ion-option value='sp'>SP</ion-option>
                    </ion-select>
                </ion-item>
              <div *ngIf="books.checked && books.classes.length>1">

                <ion-card>
                  <ion-grid>
                    <ion-row>
                      <ion-col col-4="col-4">
                        <ion-label>SA/All</ion-label>
                        <ion-checkbox name="books_check_all_asked_{{books.book_id}}" [(ngModel)]="books.check_all_asked" (ionChange)="chkAllBookClasses(i,j,'sa')"></ion-checkbox>
                      </ion-col>
                      <ion-col col-4="col-4">
                        <ion-label>SD/All</ion-label>
                        <ion-checkbox name="books_check_all_droped_{{books.book_id}}" [(ngModel)]="books.check_all_droped" (ionChange)="chkAllBookClasses(i,j,'sd')"></ion-checkbox>
                      </ion-col>
                      <ion-col col-4="col-4">
                        <ion-label>SP/All</ion-label>
                        <ion-checkbox name=" books_check_all_picked_{{books.book_id}}" [(ngModel)]="books.check_all_picked" (ionChange)="chkAllBookClasses(i,j,'sp')"></ion-checkbox>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card>

                <ion-item *ngFor="let classes of books.classes;">
                  <ion-label>{{classes.class_name}}</ion-label>
                  <ion-select multiple="true" name="classes_{{classes.class_book_id}}" [(ngModel)]="classes.checked">
                    <ion-option value='sa'>SA</ion-option>
                    <ion-option value='sd'>SD</ion-option>
                    <ion-option value='sp'>SP</ion-option>
                  </ion-select>
                </ion-item>
              </div>

            </div>
          </ion-list>

          <ion-item>
            <ion-label>Follow Up Date</ion-label>
            <ion-datetime displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM YYYY" name="followup_date" [(ngModel)]="followup_date"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label floating>Comments</ion-label>
            <ion-textarea type="text" name="comments" [(ngModel)]="results.comments" required></ion-textarea>
          </ion-item>

          <div>
            <button ion-button full color="secondary" type="submit" [disabled]="!f.valid">Place Sample Request</button>
          </div>
        </form>
  </ion-content> -->
