<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Add school</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #f="ngForm" >
    <ion-list>
      <ion-item>
        <ion-label floating>School Name</ion-label>
        <ion-input type="text" placeholder="School Name" name="title" [(ngModel)]="schoolInfo.school_name" required (keyup)="onSchoolKeyup($event)" ></ion-input>
      </ion-item>
      <div *ngIf="schoolInfo.school_name != '' && selectedSchoolName!=schoolInfo.school_name; ">
      <ion-list *ngFor="let school of schoolList; let i = index;"   >
        <ion-item (click)="selectedSchool(i);" class="item item-text-wrap">
          <strong>{{school.school_name}}</strong><br>
          <!--Addr:{{school.school_address}}--><br>
          Branch: {{school.branch_name}}<br>
        </ion-item>
      </ion-list>
      </div>
      <!--<ion-item>
        <ion-label floating>School Address</ion-label>
        <ion-textarea name="description" [(ngModel)]="schoolInfo.school_address" required></ion-textarea>
      </ion-item>-->
      <ion-item>
        <ion-label floating>Branch Name</ion-label>
        <ion-input type="text" name="branch" [(ngModel)]="schoolInfo.branch_name"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button block outline type="button" icon-left (click)="onLocate()">
            <ion-icon name="locate"></ion-icon>
            Locate me
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block outline type="button" icon-left (click)="onOpenMap()">
            <ion-icon name="map"></ion-icon>
            Select on Map
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="locationIsSet">
        <ion-col col-12>
          <agm-map [latitude]="location.lat" [longitude]="location.lng" [zoom]="16">
            <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
          </agm-map>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button color="secondary" block type="button" (click)="onSubmit()" [disabled]="!f.valid || !locationIsSet">
            Add this Place
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
