page-map {
    // .ios,
    // .md {
    //     page-map {
    //         .scroll {
    //             height: 100%
    //         }
    //         #map {
    //             width: 100%;
    //             height: 100%;
    //         }
    //         .scroll-content {
    //             padding: 0px !important;
    //         }
    //     }
    // }
    agm-map {
        height: calc(100vh - 4em - 80px);
        width: 100%;
    }
    .map-wrapper {
        position: relative;
        height: calc(100vh - 4em - 64px);
    }
    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}