<!--<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Map </ion-title>
    </ion-navbar>
</ion-header>-->

<!-- <ion-content>
    <div #map id="map"></div>
</ion-content> -->


<ion-content>
    <agm-map [latitude]="location.lat" [longitude]="location.lng" [zoom]="13">
        <agm-marker [iconUrl]="current_loc_pin" [latitude]="location.lat" [longitude]="location.lng" [title]="'Curretn Location'">
            <agm-info-window #infoWindow>
                <strong>Current Locaion</strong>
            </agm-info-window>
        </agm-marker>

        <agm-marker *ngFor="let pin of pins" [latitude]="convertStringToNumber(pin.lat)" [longitude]="convertStringToNumber(pin.lng)" [title]="pin.school_name" [label]="'V'">
            <agm-info-window #infoWindow>
                <strong>{{pin.school_name}}</strong>[{{pin.branch_name}}]<br>
                <ion-note>Address:{{pin.school_address}}</ion-note>
            </agm-info-window>
        </agm-marker>

    </agm-map>

</ion-content>
