<!--
  Generated template for the QuestionnaireFormListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="bar-royal" color="secondary">
 <!-- <ion-buttons left>
      <button ion-button icon-only (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->

    <ion-title>Questionnaire Forms
      <!--<ion-note>[ {{filter}} ]</ion-note>-->
    </ion-title>

    <!--<ion-buttons right>
      <button ion-button icon-only (click)="onFilter()">
        <ion-icon name="ios-color-filter"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-grid>
    <ion-row class="sub_heading">
      <ion-col col-1>
        <strong>#</strong>
      </ion-col>
      <ion-col col-4>Date</ion-col>
     <!-- <ion-col col-7>School Name</ion-col> -->
    </ion-row>
    <ion-item text-wrap>
      <ion-row *ngFor="let item of results; let i = index;" (click)="itemSelected(i);">
        <ion-col col-1>{{i+1}}</ion-col>
        <ion-col col-4>{{item.questionnaire_date}}</ion-col>
      <!--  <ion-col col-7>{{item.school_name}}</ion-col> -->
      </ion-row>
    </ion-item>
  </ion-grid>

</ion-content>
