<!--
  Generated template for the OrderFormSchoolPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="secondary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Order Form</ion-title>
       
    </ion-navbar>

</ion-header>


<ion-content padding>

    <!-- <h2 style="color: #0EAD9C;text-align: center;">Select checked in date</h2><br/>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
  </ion-item>

  <br /> -->

  

    <!-- <button ion-button  (click)="pubChoice();">
    Choice by publisher
  </button> -->

</ion-content>
