<!-- Generated template for the FeedbackFormDetailPage page. See
http://ionicframework.com/docs/components/#navigation for more info on Ionic
pages and navigation. -->
<ion-header>
  <ion-navbar color="secondary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Sample Form</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="isCheckedin=='1'" >
  <form #f="ngForm" (ngSubmit)="onSubmit();" >

    <ion-list-header class="heading">
      {{school_name}}
    </ion-list-header>

    <ion-list *ngFor="let publisher of subjectsClasses; let i = index;">
      <ion-list-header class="sub_heading">
        {{publisher.publisher_name}}
      </ion-list-header>
      <div *ngFor="let books of publisher.books; let j = index;">
        <ion-item *ngIf="books.classes.length > 1">
          <ion-label>{{books.book_name}}</ion-label>
          <ion-checkbox name="class_book_{{books.book_id}}" [(ngModel)]="books.checked"></ion-checkbox>
        </ion-item>
        <ion-item *ngIf="books.classes.length == 1">
            <ion-label>{{books.book_name}}</ion-label>
            <ion-select multiple="true" name="classes_{{books.classes[0].checked}}" [(ngModel)]="books.classes[0].checked">
                <ion-option value='sa'>SA</ion-option>
                <ion-option value='sd'>SD</ion-option>
                <ion-option value='sp'>SP</ion-option>
              </ion-select>
          </ion-item>
        <div *ngIf="books.checked && books.classes.length>1">

          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col col-4="col-4">
                  <ion-label>SA/All</ion-label>
                  <ion-checkbox name="books_check_all_asked_{{books.book_id}}" [(ngModel)]="books.check_all_asked" (ionChange)="chkAllBookClasses(i,j,'sa')"></ion-checkbox>
                </ion-col>
                <ion-col col-4="col-4">
                  <ion-label>SD/All</ion-label>
                  <ion-checkbox name="books_check_all_droped_{{books.book_id}}" [(ngModel)]="books.check_all_droped" (ionChange)="chkAllBookClasses(i,j,'sd')"></ion-checkbox>
                </ion-col>
                <ion-col col-4="col-4">
                  <ion-label>SP/All</ion-label>
                  <ion-checkbox name=" books_check_all_picked_{{books.book_id}}" [(ngModel)]="books.check_all_picked" (ionChange)="chkAllBookClasses(i,j,'sp')"></ion-checkbox>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-item *ngFor="let classes of books.classes;">
            <ion-label>{{classes.class_name}}</ion-label>
            <ion-select multiple="true" name="classes_{{classes.class_book_id}}" [(ngModel)]="classes.checked">
              <ion-option value='sa'>SA</ion-option>
              <ion-option value='sd'>SD</ion-option>
              <ion-option value='sp'>SP</ion-option>
            </ion-select>
          </ion-item>
        </div>

      </div>
    </ion-list>

    <ion-item>
      <ion-label>Follow Up Date</ion-label>
      <ion-datetime  max="2020" displayFormat="DD MMMM YYYY" pickerFormat="DD MMMM YYYY" name="followup_date" [(ngModel)]="followup_date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Comments</ion-label>
      <ion-textarea type="text" name="comments" [(ngModel)]="comments" required></ion-textarea>
    </ion-item>

    <div>
      <button ion-button full color="secondary" type="submit" [disabled]="!f.valid">Place Sample Request</button>
    </div>
  </form>

</ion-content>

<ion-content padding="padding" *ngIf="isCheckedin=='0'">
  <h1 style="text-align: center;">Warning!</h1>
  <h3 style="text-align: center;">You are not checked in !</h3>
  <h3 style="text-align: center;">Please check in first </h3>
</ion-content> 
