<!--
  Generated template for the OrderFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Order Form</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <!--<ion-item>
    <ion-label color="secondary">Chose a Book</ion-label>
    <ion-select [(ngModel)]="book" (ionChange)="onChange(book)">
      <ion-option value="{{result.books[0].book_id}}" *ngFor="let result of results; let i=index">{{result.books[0].book_name}}</ion-option>
    </ion-select>
  </ion-item> -->

  <!--<div *ngFor="let result of userOrder.subjects.subject_name; let i=index">
    <div *ngIf="selected_book == result.subjects[0].subject_name">
      <h2 style="text-align: center;color: #1AAC90;">{{result.subjects[0].subject_name}}</h2> <br/>
    </div>
  </div> -->
  <!--<div ng-repeat="let subjectName of userOrder">
    {{subjectName}}
  </div> -->




  <!--<form #checkinForm="ngForm" (ngSubmit)="orderFormSubmit()"> -->
   <!--<div *ngFor="let result of results; let i=index">
    <div *ngIf="selected_book == result.books[0].book_id">
      <h2 style="text-align: center;color: #1AAC90;">{{result.books[0].book_name}}</h2> <br/>
      <ion-item *ngFor="let class of result.classes; let j=index">
        <ion-label>{{class.class_name}}</ion-label>

        <ion-checkbox [(ngModel)]="classes[class.class_id]" name="classes" ></ion-checkbox>

        <!--<ion-input text-right type="text" name="class_quantity" ngModel="{{class_quantity[j]}}" placeholder="Quantity"></ion-input><br/> -->
    <!--</ion-item>
    </div>
  </div> -->

  <!--<ion-item>
    <ion-label floating color="secondary">Total Quantity</ion-label>
    <ion-input class="my-text-input-color" type="text" name="quantity" [(ngModel)]="class_quantity" required></ion-input>
  </ion-item> -->
   <!-- class name -->


  <!--<ion-item>
    <ion-label>{{userOrder.subjects[0].classes[0].class_name}}</ion-label>
    <ion-checkbox [(ngModel)]="userOrder.subjects[0].classes[0].selected" name="classes" ></ion-checkbox>
  </ion-item>

    <ion-item>
      <ion-label>{{userOrder.subjects[1].classes[1].class_name}}</ion-label>
      <ion-checkbox [(ngModel)]="userOrder.subjects[1].classes[1].selected" name="classes" ></ion-checkbox>
    </ion-item> -->



    <!-- total Quantity -->
   <!-- <ion-item>
      <ion-input  type="text" name="total_quantity" [(ngModel)]="total_quantity" placeholder="Quantity"></ion-input>
    </ion-item>

  <div>
    <button ion-button full color="secondary">Submit</button>
  </div>
  </form> -->




    <ion-list inset >
     <button ion-item *ngFor="let result of results; let i=index" (click)="itemSelected(result.books[0].book_id,result.books[0].book_name)" >
       {{result.books[0].book_name}}
       </button>
    </ion-list>




</ion-content>
