<!--
  Generated template for the QuestionnaireHistoryDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="bar-royal" color="secondary">
        <ion-title>Questionnaire Form History</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-content>

              <h2 style="color:#1aac90;">School Name: {{results.school_name}}</h2>

           <!-- <ion-label>ID: {{results.id}}</ion-label> -->
            <ion-label>Date: {{results.questionnaire_date}}</ion-label>
            <ion-label>Follow Up Date: {{results.followup_date}}</ion-label>
            <ion-label>School Branch: {{results.school_address}}</ion-label>
            <ion-label>School Session: {{results.school_session}}</ion-label>
            <ion-label>School Strength: {{results.school_strength}}</ion-label>
            <ion-label>Potential Customer: <span *ngIf="results.potential_customer==1" ><ion-icon name="thumbs-up"></ion-icon></span><span *ngIf="results.potential_customer==0" ><ion-icon name="thumbs-down"></ion-icon>
            </span></ion-label>
            <ion-label><strong>Contact Person:</strong></ion-label>

            <div *ngFor="let contact of results.contact; let i=index ">
                <ion-label item-left><ion-icon name="contact"></ion-icon>
                  {{contact.contact_name}} [ <strong>{{contact.designation}}</strong> ]</ion-label>
                <ion-label item-left>  <ion-icon name="call"></ion-icon>
                  {{contact.contact_phone}}</ion-label>
                <ion-label item-left>  <ion-icon name="mail"></ion-icon>
                  {{contact.contact_email}}</ion-label>

                <hr/>
            </div>

            <ion-label><strong>Class Names:</strong></ion-label>
            <div *ngFor="let detail of results.detail; let i=index ">
                <ion-label>Subject: {{detail.subject_name}}</ion-label>
                <ion-label>Class: {{detail.class_name}}</ion-label>
                <ion-label>Discount: {{detail.discount}}</ion-label>
                <hr/>
            </div>
        </ion-card-content>

    </ion-card>


</ion-content>
