<!--
  Generated template for the QuestionaireFormSchoolPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Questionnaire Form</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
</ion-content>
