<!--
  Generated template for the OrderFormSpSubjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="secondary">
        <ion-title>Order Form</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list inset>
        <button ion-item *ngFor=" let item of items; let i=index " (click)="itemSelected(item.id, item.book_name,i) ">
        {{item.book_name}}
  </button>
    </ion-list>
</ion-content>