<!--
  Generated template for the HistoryCheckinDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="bar-royal" color="secondary">
      <ion-title>Checkin Detail</ion-title>
    </ion-navbar>

  </ion-header>


  <ion-content padding>
    <ion-grid>
      <ion-row>

        <ion-col col-4><h4 style="color:#1aac90;">School Name:</h4></ion-col>
        <ion-col col-8><h4 style="color:#1aac90;">{{school_infor.school_name}}</h4></ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4>Branch Name:</ion-col>
        <ion-col col-8>{{school_infor.branch_name}}</ion-col>
      </ion-row>

     <!-- <ion-row>
        <ion-col col-4>Address:</ion-col>
        <ion-col col-8>{{results.school_address}}</ion-col>
      </ion-row>-->

      <ion-row>
        <ion-col col-4>Purpose:</ion-col>
        <ion-col col-8>{{results.purpose}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4>Checkin Date:</ion-col>
        <ion-col col-8>{{results.checkin_datetime}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4>Checkout Date:</ion-col>
        <ion-col col-8>{{results.checkout_datetime}}</ion-col>
      </ion-row>

     <!-- <ion-row>
        <ion-col col-4>Time Spent:</ion-col>
        <ion-col col-8>{{results.time_spent}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4>Status:</ion-col>
        <ion-col col-8>{{results.status}}</ion-col>
      </ion-row> -->

    </ion-grid>
  </ion-content>
