<!--
  Generated template for the TomorrowPlanAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Your Plan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #f="ngForm" (ngSubmit)="onSubmit(); f.reset()">


      <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->

      <ion-list>

          <ion-item>
              <ion-label>School Name</ion-label>
              <ion-input name="school_name" [(ngModel)]="postData.school_name" required></ion-input>
          </ion-item>

          <ion-item>
              <ion-label>Objective</ion-label>
              <ion-textarea type="text" name="description" [(ngModel)]="postData.description" required ></ion-textarea>
          </ion-item>

          <ion-item>
              <ion-label>Area</ion-label>
              <ion-input name="location" [(ngModel)]="postData.location" required ></ion-input>
          </ion-item>

          <div>
              <button ion-button full color="secondary" type="submit" [disabled]="!f.valid">Save Plan</button>
          </div>
      </ion-list>
  </form>

</ion-content>
